In [0]:
import numpy as np
import pandas as pd

# Most Recent Treasury

We will find the average percentage of hispanics in US universities.

In [0]:
f = pd.read_csv("https://ed-public-download.app.cloud.gov/downloads/Most-Recent-Cohorts-Treasury-Elements.csv")
f.head()

,UNITID,OPEID,OPEID6,INSTNM,COUNT_ED,AGEGE24,PCT_WHITE,PCT_BLACK,PCT_ASIAN,PCT_HISPANIC,...,SD_EARN_WNE_P8,GT_25K_P8,COUNT_NWNE_P9,COUNT_WNE_P9,MN_EARN_WNE_P9,SD_EARN_WNE_P9,GT_25K_P9,GT_28K_P10,GT_28K_P8,GT_28K_P6
0,100654,100200,1002,Alabama A & M University,NaN,0.07999999821186,46.8400001525878,47.9799995422363,1.48000001907348,3.78999996185302,...,20100,0.544,215,1480,33800,27500,0.58783781528472,0.567,0.483,0.431
1,100663,105200,1052,University of Alabama at Birmingham,NaN,0.25999999046325,69.0199966430664,27.7600002288818,1.10000002384185,2.02999997138977,...,36500,0.722,347,2592,44500,38600,0.73726850748062,0.726,0.686,0.631
2,100690,2503400,25034,Amridge University,NaN,0.82999998331069,70.8799972534179,22.5300006866455,1.28999996185302,6.94000005722046,...,33900,0.668,41,174,42400,30500,0.7356321811676,0.7,0.631,0.542
3,100706,105500,1055,University of Alabama in Huntsville,NaN,0.28999999165534,76.3799972534179,18.9799995422363,1.41999995708465,2.54999995231628,...,28400,0.73,152,1106,50200,37700,0.78119349479675,0.755,0.71,0.649
4,100724,100500,1005,Alabama State University,NaN,0.10999999940395,42.6899986267089,52.3199996948242,1.40999996662139,4.09000015258789,...,18000,0.468,297,1810,29400,20000,0.52983427047729,0.494,0.436,0.351

### Read the dataset into a DataFrame using Pandas.

In [0]:
df = pd.DataFrame(f, columns=['PCT_HISPANIC']) # removed NaN values


df = df.dropna()

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5142 entries, 0 to 7081
Data columns (total 1 columns):
PCT_HISPANIC    5142 non-null object
dtypes: object(1)
memory usage: 80.3+ KB

In [0]:
df.applymap(np.isreal).all()

PCT_HISPANIC    False
dtype: bool

In [0]:
print(str.isalpha('0'))
print(str.isalpha('a'))
# is it in the alphabet?
# [str.isalpha(x) for x in df['PCT_HISPANIC']]

False
True

In [0]:
df[[str.isalpha(x) for x in df['PCT_HISPANIC']]].head()

          PCT_HISPANIC
185  PrivacySuppressed
192  PrivacySuppressed
309  PrivacySuppressed
326  PrivacySuppressed
333  PrivacySuppressed

In [0]:
sum([str.isalpha(x) for x in df['PCT_HISPANIC']])

90

In [0]:
d1 = df[[not str.isalpha(x) for x in df['PCT_HISPANIC']]]
d1.head()
#d1.info()

Series([], dtype: float64)




---



---



---



---


---

In [0]:
df1 = df.head(30)
  
df1 = pd.to_numeric(df1['PCT_HISPANIC'])

np.mean(df1)

2.6243333498636843

In [0]:
#pd.to_numeric(n2)
#nppNum = np.asfarray(npp,float)
#nppNum
npp = np.array(df['PCT_HISPANIC'])
#df.dtype
n2 = np.array(npp, copy=True)  
#n2
df.drop(['PrivacySuppressed', 'NULL'])
df.dtype

### Display the first 5 rows of the dataset

In [0]:
f.head()

,UNITID,OPEID,OPEID6,INSTNM,COUNT_ED,AGEGE24,PCT_WHITE,PCT_BLACK,PCT_ASIAN,PCT_HISPANIC,...,SD_EARN_WNE_P8,GT_25K_P8,COUNT_NWNE_P9,COUNT_WNE_P9,MN_EARN_WNE_P9,SD_EARN_WNE_P9,GT_25K_P9,GT_28K_P10,GT_28K_P8,GT_28K_P6
0,100654,100200,1002,Alabama A & M University,NaN,0.07999999821186,46.8400001525878,47.9799995422363,1.48000001907348,3.78999996185302,...,20100,0.544,215,1480,33800,27500,0.58783781528472,0.567,0.483,0.431
1,100663,105200,1052,University of Alabama at Birmingham,NaN,0.25999999046325,69.0199966430664,27.7600002288818,1.10000002384185,2.02999997138977,...,36500,0.722,347,2592,44500,38600,0.73726850748062,0.726,0.686,0.631
2,100690,2503400,25034,Amridge University,NaN,0.82999998331069,70.8799972534179,22.5300006866455,1.28999996185302,6.94000005722046,...,33900,0.668,41,174,42400,30500,0.7356321811676,0.7,0.631,0.542
3,100706,105500,1055,University of Alabama in Huntsville,NaN,0.28999999165534,76.3799972534179,18.9799995422363,1.41999995708465,2.54999995231628,...,28400,0.73,152,1106,50200,37700,0.78119349479675,0.755,0.71,0.649
4,100724,100500,1005,Alabama State University,NaN,0.10999999940395,42.6899986267089,52.3199996948242,1.40999996662139,4.09000015258789,...,18000,0.468,297,1810,29400,20000,0.52983427047729,0.494,0.436,0.351

### Mean, standard, min and max deviation of Hispanic Percentage in US public universities.

In [0]:
type(df)

pandas.core.frame.DataFrame

In [0]:
df.mean()

Series([], dtype: float64)

In [0]:
f['PCT_HISPANIC'].mean()

In [0]:
df['PCT_HISPANIC'].std()

In [0]:
df.max()

PCT_HISPANIC    PrivacySuppressed
dtype: object

In [0]:
df.min()

PCT_HISPANIC    0.41
dtype: float64

In [0]:
df.keys()

Index(['PCT_HISPANIC'], dtype='object')